/* navbar */
.navbar-brand {
  padding: 15px 0;
}
.navbar-header {
   display: flex;
   justify-content: space-between;
}
@media (min-width: 768px) {
  .navbar>.container .navbar-brand, .navbar>.container-fluid .navbar-brand {
    margin-left: 0px;
    padding: 15px 10px;
  }
  .navbar-header button {
    margin-right: 5px;
  }
}

h1, .h1 {
  font-size: 20px
}
time {
  font-size: 15px;
  padding-bottom: 10px;
  display: block;
  font-weight: 600;
}

body {
  padding-top: 61px;
}
.text-center {
  padding-top: 20px;
}
.col-xs-12 {
  background-color: #fff;
}
.elm-datepicker--picker {
  background: white;
}

.navbar-form {
  padding: 0px 5px;
}
.navbar-header .input-group-btn {
  top: -1px;
}

@media (max-width: 767px) {
  body {
    padding-top: 111px;  
  }

  .navbar-header {
    flex-wrap: wrap;
    justify-content: flex-start;
    padding: 0 15px
  }

  .navbar-brand {
    margin-right: 10px;
  }

  .nav-controls {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-content: stretch;
    width: 80%;
  }

  .nav-controls button {
    width: 49%;
  }

  .navbar-form.navbar-left {
    padding: 0 20px;
    border: 0;
  }
}